In [1]:
# Task 1: Data Ingestion & Initial Exploration
import numpy as np
import pandas as pd
# 1. Load the dataset using Pandas.
data=pd.read_csv(r"C:\Users\hp\Desktop\DATA ANALYTICS\TASKS\PYTHON\Python Challenge\StudentsPerformance.csv")
data

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95
996,male,group C,high school,free/reduced,none,62,55,55
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

In [2]:
#2. Display: First 5 records 
data.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [3]:
# 2 Display: Last 5 records
data.tail()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
995,female,group E,master's degree,standard,completed,88,99,95
996,male,group C,high school,free/reduced,none,62,55,55
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

In [4]:
# 3.Check: Number of rows and columns 
data.shape

(1000, 8)

In [5]:
# 3.Check: Column names
data.columns

Index(['gender', 'race/ethnicity', 'parental level of education', 'lunch',
       'test preparation course', 'math score', 'reading score',
       'writing score'],
      dtype='object')

In [6]:
# 3.Check: Data types of each column
data.dtypes

gender                         object
race/ethnicity                 object
parental level of education    object
lunch                          object
test preparation course        object
math score                      int64
reading score                   int64
writing score                   int64
dtype: object

In [7]:
# 4.Generate statistical summary for numerical columns
data.describe()

       math score  reading score  writing score
count  1000.00000    1000.000000    1000.000000
mean     66.08900      69.169000      68.054000
std      15.16308      14.600192      15.195657
min       0.00000      17.000000      10.000000
25%      57.00000      59.000000      57.750000
50%      66.00000      70.000000      69.000000
75%      77.00000      79.000000      79.000000
max     100.00000     100.000000     100.000000

In [8]:
# Task 2: Data Quality & Missing Value Analysis
# 1. Check if the dataset contains any missing values.
data.isnull()
data.isnull().sum().sum()

np.int64(0)

In [9]:
# 2. Count missing values column-wise.
data.isnull().sum()

gender                         0
race/ethnicity                 0
parental level of education    0
lunch                          0
test preparation course        0
math score                     0
reading score                  0
writing score                  0
dtype: int64

In [10]:
# 3. If missing values exist:Handle them appropriately using Pandas methods.
# = There are no missing values

In [11]:
# 4. Verify the dataset after cleaning. 
data

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95
996,male,group C,high school,free/reduced,none,62,55,55
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

In [12]:
# Task 3: Overall Student Performance Analysis : Calculate:
#Average math score   
avg_math_score=data["math score"].mean()
print("The average math score=",avg_math_score)
#Average reading score
avg_reading_score=data["reading score"].mean()
print("The average reading score=",avg_reading_score)
#Average writing score
avg_writing_score=data["writing score"].mean()
print("The average writing score=",avg_writing_score)

The average math score= 66.089
The average reading score= 69.169
The average writing score= 68.054

In [13]:
# 2.Identify:Highest score in each subject
highest_math_score=data["math score"].max()
highest_reading_score=data["reading score"].max()
highest_writing_score=data["writing score"].max()
print("Highest score in maths=",highest_math_score)
print("Highest score in reading=",highest_reading_score)
print("Highest score in writing=",highest_writing_score)

Highest score in maths= 100
Highest score in reading= 100
Highest score in writing= 100

In [14]:
# 2.Identify:Lowest score in each subject
lowest_math_score=data["math score"].min()
lowest_reading_score=data["reading score"].min()
lowest_writing_score=data["writing score"].min()
print("Lowest score in maths=",lowest_math_score)
print("Lowest score in reading=",lowest_reading_score)
print("Lowest score in writing=",lowest_writing_score)

Lowest score in maths= 0
Lowest score in reading= 17
Lowest score in writing= 10

In [15]:
# 3. Find the total score for each student (sum of all three subjects).
total_score=(data["math score"]+data["reading score"]+data["writing score"])

In [16]:
#  4. Add a new column total_score to the dataset.
data["Total score"]=total_score
data

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,Total score
0,female,group B,bachelor's degree,standard,none,72,72,74,218
1,female,group C,some college,standard,completed,69,90,88,247
2,female,group B,master's degree,standard,none,90,95,93,278
3,male,group A,associate's degree,free/reduced,none,47,57,44,148
4,male,group C,some college,standard,none,76,78,75,229
...,...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95,282
996,male,group C,high school,free/reduced,none,62,55,55,172
997,female,group C,high school,free/reduced,completed,59,71,65,195
998,female,group D,some college,standard,completed,68,78,77,223
999,female,group D,some college,free/reduced,none,77,86,86,249

In [17]:
# Task 4: Gender-Based Performance Study
# 1.Calculate average scores (math, reading, writing) for each gender. 
data.groupby("gender")[["math score","reading score","writing score"]].mean()

        math score  reading score  writing score
gender
female   63.633205      72.608108      72.467181
male     68.728216      65.473029      63.311203

In [26]:
# 2.Identify: 
# Which gender performs better in math
avg_scores = data.groupby("gender")["math score"].mean()
print("Average math scores by gender:\n", avg_scores)
best_gender = avg_scores.idxmax()
print(f"{best_gender.capitalize()} performs better in math")
# Which gender performs better in reading and writing
avge_scores = data.groupby("gender")[["reading score", "writing score"]].mean()
print("\nAverage reading and writing scores by gender:\n", avge_scores)
best_gender = avge_scores.mean(axis=1).idxmax()
print(f"{best_gender.capitalize()} performs better in reading and writing")

Average math scores by gender:
 gender
female    63.633205
male      68.728216
Name: math score, dtype: float64
Male performs better in math

Average reading and writing scores by gender:
         reading score  writing score
gender
female      72.608108      72.467181
male        65.473029      63.311203
Female performs better in reading and writing

In [29]:
# 3.Display the performance comparison.
performance_comparison = data.groupby("gender")[["math score", "reading score", "writing score"]].mean()
print("\n     === Gender Performance Comparison ===")
print(performance_comparison.round(2))

     === Gender Performance Comparison ===
        math score  reading score  writing score
gender
female       63.63          72.61          72.47
male         68.73          65.47          63.31

In [35]:
# �Task 5: Impact of Test Preparation Course The board invested in test preparation programs and wants to measure their impact. 
# 1. Separate students who: 
   # o Completed the test preparation course 
completed = data[data["test preparation course"] == "completed"]
   # o Did not complete the course 
not_completed = data[data["test preparation course"] == "none"]
# 2. Calculate average scores for both groups. 
completed_avg = completed[["math score", "reading score", "writing score"]].mean()
not_completed_avg = not_completed[["math score", "reading score", "writing score"]].mean()
print("Average Scores - Completed Course:\n", completed_avg)
print("\nAverage Scores - Did Not Complete Course:\n", not_completed_avg)
# 3. Compare performance across math, reading, and writing. 
comparison = data.groupby("test preparation course")[["math score", "reading score", "writing score"]].mean()
print("\n                  === Performance Comparison ===\n")
print(comparison)
# 4. Conclude whether test preparation 
if completed_avg.mean() > not_completed_avg.mean():
    print("\nConclusion: Students who completed the test preparation course performed better overall.")
else:
    print("\nConclusion: The test preparation course did not significantly improve performance.")

Average Scores - Completed Course:
 math score       69.695531
reading score    73.893855
writing score    74.418994
dtype: float64

Average Scores - Did Not Complete Course:
 math score       64.077882
reading score    66.534268
writing score    64.504673
dtype: float64

                  === Performance Comparison ===

                         math score  reading score  writing score
test preparation course
completed                 69.695531      73.893855      74.418994
none                      64.077882      66.534268      64.504673

Conclusion: Students who completed the test preparation course performed better overall.

In [41]:
# �Task 6: Parental Education & Student Performance The board believes parental education influences student outcomes. 
# 1. Group students by parental level of education. 
grouped = data.groupby("parental level of education")
# 2. Calculate average scores for each education level.
education_performance = grouped[["math score", "reading score", "writing score"]].mean()
print("            === Average Scores by Parental Education Level ===\n")
print(education_performance)
# 3. Identify:
# o Highest performing parental education group
overall_avg = education_performance.mean(axis=1)
highest_group = overall_avg.idxmax()
print("\nHighest Performing Parental Education Group:", highest_group)
# o Lowest performing group
lowest_group = overall_avg.idxmin()
print("\nLowest Performing Parental Education Group:", lowest_group)

            === Average Scores by Parental Education Level ===

                             math score  reading score  writing score
parental level of education
associate's degree            67.882883      70.927928      69.896396
bachelor's degree             69.389831      73.000000      73.381356
high school                   62.137755      64.704082      62.448980
master's degree               69.745763      75.372881      75.677966
some college                  67.128319      69.460177      68.840708
some high school              63.497207      66.938547      64.888268

Highest Performing Parental Education Group: master's degree

Lowest Performing Parental Education Group: high school

In [ ]:
# �Task 7: Lunch Program & Academic Achievement The government provides different lunch programs to students. 
# 1. Analyze student performance based on lunch type. 
lunch_grouped = data.groupby("lunch")
# 2. Calculate average scores for each lunch category. 
lunch_performance = lunch_grouped[["math score", "reading score", "writing score"]].mean()
print("    === Average Scores by Lunch Type ===\n")
print(lunch_performance)
# 3. Identify which lunch program group performs better overall
overall_lunch_avg = lunch_performance.mean(axis=1)
best_lunch_group = overall_lunch_avg.idxmax()
print("\nHighest Performing Lunch Program Group:", best_lunch_group)

    === Average Scores by Lunch Type ===

              math score  reading score  writing score
lunch
free/reduced   58.921127      64.653521      63.022535
standard       70.034109      71.654264      70.823256

Highest Performing Lunch Program Group: standard

In [45]:
# �Task 8: Performance Categorization (Data Manipulation).To simplify reporting, the board wants students categorized. 
# 1. Create a new column performance_level: 
# o Total Score ≥ 250 → Excellent
# o Total Score 200–249 → Good
# o Total Score < 200 → Needs Improvement
def categorize_performance(total_score):
    if total_score >= 250:
        return "Excellent"
    elif 200 <= total_score < 250:
        return "Good"
    else:
        return "Needs Improvement"
data["performance_level"] = data["Total score"].apply(categorize_performance)
print(data[["gender","Total score","performance_level"]].head())       
# 2. Count number of students in each category
category_counts = data["performance_level"].value_counts()
print("\nNumber of students in each performance category:\n", category_counts)

   gender  Total score  performance_level
0  female          218               Good
1  female          247               Good
2  female          278          Excellent
3    male          148  Needs Improvement
4    male          229               Good

Number of students in each performance category:
 performance_level
Needs Improvement    444
Good                 417
Excellent            139
Name: count, dtype: int64

In [51]:
# �Task 9: Top & Bottom Performers Identification .The board wants to recognize excellence and support weak students. 
# 1. Identify top 10 students based on total score. 
top_10_students = data.sort_values(by="Total score", ascending=False).head(10)
print("           === Top 10 Students ===\n")
print(top_10_students[["gender", "math score", "reading score", "writing score", "Total score"]])
# 2. Identify bottom 10 students based on total score. 
bottom_10_students = data.sort_values(by="Total score", ascending=True).head(10)
# 3. Display relevant student details.
print("\n          === Bottom 10 Students ===\n")
print(bottom_10_students[[ "gender", "math score", "reading score", "writing score", "Total score"]])

           === Top 10 Students ===

     gender  math score  reading score  writing score  Total score
916    male         100            100            100          300
962  female         100            100            100          300
458  female         100            100            100          300
114  female          99            100            100          299
712  female          98            100             99          297
179  female          97            100            100          297
165  female          96            100            100          296
625    male         100             97             99          296
685  female          94             99            100          293
903  female          93            100            100          293

          === Bottom 10 Students ===

     gender  math score  reading score  writing score  Total score
59   female           0             17             10           27
980  female           8             24             23           55
596    male          30             24             15           69
327    male          28             23             19           70
17   female          18             32             28           78
76     male          30             26             22           78
601  female          29             29             30           88
338  female          24             38             27           89
787  female          19             38             32           89
211    male          35             28             27           90

In [52]:
# �Task 10: Insights & Conclusion (Analytical Thinking) .Based on your analysis, answer: 
# 1. Which factor has the strongest impact on student performance?
parental_avg = data.groupby("parental level of education")["Total score"].mean()
strongest_factor = parental_avg.idxmax()
print("1. Factor with strongest impact: Parental Education Level -", strongest_factor)
# 2. Does test preparation significantly improve scores?
test_prep_avg = data.groupby("test preparation course")["Total score"].mean()
print("\n2. Test Preparation Course Impact:")
print(test_prep_avg)
if test_prep_avg["completed"] > test_prep_avg["none"]:
    print("   → Yes, students who completed the test preparation course scored higher on average.")
else:
    print("   → No significant improvement observed from the test preparation course.")
# 3. Which subject shows the highest overall performance?
subject_avg = data[["math score", "reading score", "writing score"]].mean()
highest_subject = subject_avg.idxmax()
print("\n3. Subject with highest overall performance:", highest_subject)
# 4. Provide 2–3 data-driven recommendations for the education board.
print("\n4. Recommendations:")
print("   • Encourage parental involvement and education awareness programs, as parental education strongly impacts student performance.")
print("   • Promote and provide access to test preparation courses to improve student outcomes.")
print("   • Focus additional support on students struggling in math, as it generally shows lower averages compared to reading and writing (if applicable).")

1. Factor with strongest impact: Parental Education Level - master's degree

2. Test Preparation Course Impact:
test preparation course
completed    218.008380
none         195.116822
Name: Total score, dtype: float64
   → Yes, students who completed the test preparation course scored higher on average.

3. Subject with highest overall performance: reading score

4. Recommendations:
   • Encourage parental involvement and education awareness programs, as parental education strongly impacts student performance.
   • Promote and provide access to test preparation courses to improve student outcomes.
   • Focus additional support on students struggling in math, as it generally shows lower averages compared to reading and writing (if applicable).